#header-nav {
    background-color: blanchedalmond;
}

#header-nav .container {
    margin-left: 10px ;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-nav {
    margin: 0px;
    border-top: 2px solid black;
}

.navbar-nav li {
    background-color: lightskyblue;
    border-bottom: 2px solid black ;
}

section {
    margin-top: 10px;
}

.padder {
    background-color: lightgrey;
    padding: 10px;
}
